*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: black;
}
.container{
    padding: 20px;

}

.box{
    height: 100px;
    width: 200px;
    background-color: orange;
animation-name: moving;
animation-duration: 2s;
position: absolute;
animation-iteration-count: infinite;
animation-timing-function: ease-in;
/* animation-timing-function: linear; */
/* animation-timing-function: ease-out; */
/* animation-direction: alternate; */

}


@keyframes moving{

    0%{
background-color: orange;
top: 10px;
left: 10px;
    }
 
  25%{
    background-color: blue;
top: 10px;
left: 1000px;
  }
50%{
background-color: blue;
top: 800px;
left: 1000px;
}

75%{
    background-color: blue;
top: 800px;
left: 10px;
}
100%{
    background-color: blue;
top: 10px;
left: 10px;
}
  

    }
