/* span{
    color: blueviolet;
} */
   

/* universal selector
*{
    color: orange;
} */



/* 
span{
    padding: 50px;
    margin: 30px;
} */

/* span{
    display: inline;
    display: block;
    border: 20px solid ;
    padding: 20px;
    margin: 10px;
} */
 /* h2{
    border: 10px solid pink;
    display: inline-block;
 } */

/* border box
 /* h1{
    box-sizing: border-box;
 }
 h2{
    box-sizing: content-box;
 } */ 


